.table_center_by_css {
    width: 300px;
    margin: auto;
}
.yes {
    background-color: yellowgreen;
}
.no {
    background-color: gray;
}
.wrong-place {
    background-color: rgb(220, 224, 151);
}
